<!DOCTYPE html>
{% assign unixtimestamp = 'now' | date: '%s' %}
{% assign experience = 'now' | date: '%Y' | minus: 2018 | divided_by: 1 | ceil %}
{% assign meta_url = 'josehenriqueroveda.github.io' %}
{% assign meta_title = 'Jose Henrique Roveda CV' %}
{% assign meta_image = 'https://opengraph.githubassets.com/' | append: unixtimestamp | append: '/josehenriqueroveda/josehenriqueroveda.github.io' %}
{% assign meta_description = 'Professional with ' | append: experience | append: ' years of experience in data science, data engineer and data analysis.' %}
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rodrigodornelles-{{ 'now' | date: '%y-%m-%d' }}</title>
    <style>{% include "./style.css" %}</style>
    <meta name="title" content="{{ meta_title }}">
    <meta name="description" content="{{ meta_description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ meta_url }}">
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:image" content="{{ meta_image }}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ meta_url }}">
    <meta property="twitter:title" content="{{ meta_title }}">
    <meta property="twitter:description" content="{{ meta_description }}">
    <meta property="twitter:image" content="{{ meta_image }}">
  </head>
  <body>
    <main>{{ content }}</main>
  </body>
</html>